.button {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    border: none;
    background-color: #000000ab;
    color: rgb(231, 231, 231);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-size: 15px;
    margin: 20px;
  }
  
  .button:hover,
  .button:active {
    background-color: #000000d5;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
  .badge {
    background-color: #d2d2d275;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #9a9a9a9e;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }